@using E_CommerceLivraria.DTO.AdmCustomerDTO
@model ReadAllCustomerDTO
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Todos Clientes";
    ViewData["CSSFile"] = "~/css/admin/customer/crud/AllCustomers.css";
}
<div class="readAllBody">
    <div class="filter">
        <h1>Filtro</h1>
        <form asp-controller="AdmCustomer" asp-action="FilterRead" method="get">
            <div class="line spaceBet">
                <div class="field">
                    <label for="name">Nome:</label>
                    <input type="text" id="name" asp-for="FilterData.Name" style="width: 22.5vw;">
                </div>
                <div class="field">
                    <label for="name">E-Mail:</label>
                    <input type="text" id="email" asp-for="FilterData.Email" style="width: 20vw;">
                </div>
                <div class="field">
                    <label for="cpf">CPF:</label>
                    <input type="text" id="cpf" asp-for="FilterData.Cpf" maxlength="14" style="width: 8.2vw">
                </div>
                <div class="field">
                    <label for="telType">Tipo de telefone:</label>
                    <select id="telType" asp-for="FilterData.TelephoneTypeId" asp-items="@(new SelectList(Model.TlpTypes, "TptId", "TptName"))">
                        <option value="">Não Filtrar</option>
                    </select>
                </div>
                <div class="field">
                    <label for="gender">Gênero:</label>
                    <select id="gender" asp-for="FilterData.GndId" asp-items="@(new SelectList(Model.Genders, "GndId", "GndName"))">
                        <option value="">Não filtrar</option>
                    </select>
                </div>
            </div>
            <div class="line rGap">
                <div class="field">
                    <label for="age">Idade mín.:</label>
                    <input type="number" id="age" asp-for="FilterData.MinAge" max="999" style="width: 8vw;">
                </div>
                <div class="field">
                    <label for="age">Idade máx.:</label>
                    <input type="number" id="age" asp-for="FilterData.MaxAge" max="999" style="width: 8vw;">
                </div>
                <div class="field">
                    <label for="rank">Ranking:</label>
                    <select id="rank" asp-for="FilterData.Ranking">
                        <option value="">Não filtrar</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="field">
                    <label for="active">Ativo?:</label>
                    <select id="active" asp-for="FilterData.Active">
                        <option value="">Não filtrar</option>
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>
                </div>
            </div>
            <div>
                <button>Filtrar</button>
            </div>
        </form>
    </div>
    @if (Model.Customers.Count > 0 || Model.Customers.Any())
    {
        <div class="customerTable">
            <table>
                <tr>
                    <th>Nome</th>
                    <th>Data Nasc.</th>
                    <th>CPF</th>
                    <th>Gênero</th>
                    <th>Telefone</th>
                    <th>E-Mail</th>
                    <th>Ativo?</th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (Customer ctm in Model.Customers)
                {
                    <tr>
                        <td>@ctm.CtmName</td>
                        <td>@ctm.CtmBirthdate.ToShortDateString()</td>
                        <td>@ctm.CtmCpfStyled</td>
                        <td>@ctm.CtmGnd.GndName</td>
                        <td>@ctm.CtmTlp.FullNumber</td>
                        <td>@ctm.CtmEmail</td>
                        @if (ctm.CtmActive)
                        {
                            <td>Sim</td>
                        } else
                        {
                            <td>Não</td>
                        }
                        <td class="viewBtnTd">
                            <a asp-controller="AdmCustomer" asp-action="DetailedCustomerPage" asp-route-id="@ctm.CtmId">
                                <button type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                    </svg>
                                </button>
                            </a>
                        </td>
                        @if (ctm.CtmActive)
                        {
                            <td class="removeBtnTd">
                                <button type="button" onclick="removeCustomer(@ctm.CtmId, '@(ctm.CtmName)')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                    </svg>
                                </button>
                            </td>
                        } 
                        else
                        {
                            <td class="activateBtnTd">
                                <button type="button" onclick="activateCustomer(@ctm.CtmId)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                                    </svg>
                                </button>
                            </td>
                        }
                    </tr>
                }

            </table>
        </div>
    }
</div>
<script src="~/js/admin/customer/crud/AllCustomers.js?v=1.0.@(DateTime.Now.Ticks)"></script>