@using System.Globalization
@using E_CommerceLivraria.Enums.Customer
@using E_CommerceLivraria.DTO.PaymentDTO.Method
@model MethodPaymentDTO
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewData["Title"] = "Método de pagamento";
    ViewData["CSSFile"] = "~/css/customer/cart/addressPay/methodPay/methodPayment.css";

    string addedCard = ViewBag.AddedCard;
}
<br>
<button class="backBtn" onclick="history.go(-1); return false;">Voltar</button>
<div class="extra">
    <input type="text" id="recentAddedCard" value="@(addedCard)" hidden />
</div>
<div class="paymentBody">
    <div class="bigPayBody">
        <div class="payTitle">
            <h1>Método de pagamento</h1>
        </div>
        <div class="promoCoupon">
            <div>
                <label>Código do cupom promocional:</label>
                <input type="text" id="promoCoupon">
            </div>
            <div>
                <input type="number" id="promoCpnValue" value="" hidden />
                <table>
                    <tr>
                        <th>Valor:</th>
                        <td>-</td>
                        <td class="rm"><button>X</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="choosenInfo">
            <div class="choosenData">
                <div class="choosenCards">
                    <div class="title">
                        <h2>Cartões</h2>
                        <select id="userCards" asp-items="@(new SelectList(Model.CreditCards, "CrdId", "CrdNumberHidden"))" onchange="window.PaymentFunctions.salvarCartaoSelecionado()">
                            <option value="N" selected>- Selecione -</option>
                        </select>
                    </div>
                    <div class="table">
                        <table id="cardsUsedTable">
                            
                        </table>
                    </div>
                </div>
                <a asp-controller="CreditCardPages" asp-action="CreateCreditCardPage" asp-route-origin="@((int)ECtmCreditCardCreate.PAYMENT)" asp-route-ctmId="@Model.CtmId">
                    <button type="button" class="addCard" id="addNewCard" >Adicionar novo cartão de crédito</button>
                </a>
            </div>
            <div class="choosenCoupons choosenData">
                <div class="title">
                    <h2>Cupons</h2>
                    <select id="userCoupons" asp-items="@(new SelectList(Model.ExchangeCoupons, "XcpId", "XcpValueDate"))" onchange="window.PaymentFunctions.salvarCupomSelecionado()">
                        <option value="N">- Selecione -</option>
                    </select>
                </div>
                <div class="table">
                    <table id="exCouponsTable">
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="price">
        <div>
            <h2>Preço dos itens:</h2>
            <input type="number" id="productsPrice" value="@((Model.Total).ToString("F2", CultureInfo.InvariantCulture))" hidden />
            <h1><b>R$</b>@Model.Total.ToString("F2")</h1>
        </div>
        <div>
            <h2>Frete:</h2>
            <input type="number" id="shipping" value="0" hidden />
            <h1 id="shipText"><b>R$</b></h1>
        </div>
        <div>
            <h2>Preço total:</h2>
            <input type="number" id="totalPrice" value="0" hidden />
            <h1 id="totalText"><b>R$</b></h1>
        </div>
        <div>
            <h2>Cupons:</h2>
            <h1 id="couponsValue"><b>R$</b>0,00</h1>
        </div>
        <div>
            <h2>Cartões:</h2>
            <h1 id="cardsValue"><b>R$</b>0,00</h1>
        </div>
        <form>
            <input type="number" id="ctmId" value="@Model.CtmId" hidden />
            <input type="number" value="" id="deliveryAddress" hidden />
            <div id="finishButton">
            </div>
        </form>
    </div>
</div>
<script type="module" src="~/js/customer/cart/addressPay/methodPay/paymentLoader.js?v=1.0.@(DateTime.Now.Ticks)"></script>