@using E_CommerceLivraria.Models.ModelsStructGroups.MethodPaymentSG
@using System.Globalization
@model MethodPaymentData
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewData["Title"] = "Método de pagamento";
    ViewData["CSSFile"] = "~/css/customer/cart/addressPay/methodPay/methodPayment.css";
}
<br>
<button class="backBtn" onclick="history.go(-1); return false;">Voltar</button>
<div class="paymentBody">
    <div class="bigPayBody">
        <div class="payTitle">
            <h1>Método de pagamento</h1>
        </div>
        <div class="promoCoupon">
            <div>
                <label>Código do cupom promocional:</label>
                <input type="text" id="promoCoupon">
            </div>
            <div>
                <table>
                    <tr>
                        <th>Valor:</th>
                        <td>-</td>
                        <td class="rm"><button>X</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="choosenInfo">
            <div class="choosenData">
                <div class="choosenCards">
                    <div class="title">
                        <h2>Cartões</h2>
                        <select id="userCards" asp-items="@(new SelectList(Model.CreditCards, "CrdId", "CrdNumberHidden"))" onchange="window.PaymentFunctions.salvarCartao()">
                            <option value="N" selected>- Selecione -</option>
                        </select>
                    </div>
                    <div class="table">
                        <table id="cardsUsedTable">
                            
                        </table>
                    </div>
                </div>
                <button class="addCard">Adicionar novo cartão de crédito</button>
            </div>
            <div class="choosenCoupons choosenData">
                <div class="title">
                    <h2>Cupons</h2>
                    <select id="userCoupons">
                        <option value="">- Selecione -</option>
                    </select>
                </div>
                <div class="table">
                    <table>
                        <tr>
                            <th>Código</th>
                            <th>Data de Geração</th>
                            <th>Valor</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="price">
        <div>
            <h2>Preço dos itens:</h2>
            <input type="number" id="productsPrice" value="@((Model.Total).ToString("F2", CultureInfo.InvariantCulture))" hidden />
            <h1><b>R$</b>@Model.Total.ToString("F2")</h1>
        </div>
        <div>
            <h2>Frete:</h2>
            <input type="number" id="shipping" value="@((Model.Address.AddShipping).ToString("F2", CultureInfo.InvariantCulture))" hidden />
            <h1><b>R$</b>@Model.Address.AddShipping</h1>
        </div>
        <div>
            <h2>Preço total:</h2>
            <input type="number" id="totalPrice" value="@((Model.Total + Model.Address.AddShipping).ToString("F2", CultureInfo.InvariantCulture))" hidden />
            <h1><b>R$</b>@((Model.Total + Model.Address.AddShipping).ToString("F2"))</h1>
        </div>
        <div>
            <h2>Cupons:</h2>
            <h1><b>R$</b>0,00</h1>
        </div>
        <div>
            <h2>Cartões:</h2>
            <h1 id="cardsValue"><b>R$</b>0,00</h1>
        </div>
        <form>
            <input type="number" id="ctmId" value="@Model.CtmId" hidden />
            <input type="number" value="@Model.Address.AddId" id="deliveryAddress" hidden />
            <div id="finishButton">
            </div>
        </form>
    </div>
</div>
<!-- Substitua a chamada do script por: -->
<script type="module" src="~/js/customer/cart/addressPay/methodPay/paymentLoader.js?v=1.0.@(DateTime.Now.Ticks)"></script>
