@using E_CommerceLivraria.Models
@model List<Address>
@{
    Layout = "~/Views/Shared/_PublicProfileLayout.cshtml";
    ViewData["Title"] = "Endereços";
    ViewData["CSSFile"] = "~/css/customer/profile/address/profileAddressList.css";
}
<div class="addressList">
    <h1>Endereços de entrega</h1>
    @for (int i = 0; i < Model.Count(); i += 2)
    {
        <div class="addRow">
            
            @for (int j = i; j < i + 2 && j < Model.Count(); j++)
            {
                <div class="addInstance">
                    <div>
                        <h2>Nº @Model[j].AddNumber - @Model[j].AddNbh.NbhName, @Model[j].AddCty.CtyName</h2>
                        <h3>CEP @Model[j].AddCepStyled - @Model[j].AddStt.SttName, @Model[j].AddCtr.CtrName</h3>
                        <h3>@Model[j].AddRst.RstName, @Model[j].AddPublicPlace</h3>
                    </div>
                    <div class="addOptions">
                        <a asp-controller="ProfileAddress" asp-action="DetailedAddressPage" asp-route-Type="@ViewBag.Type" asp-route-CtmId="@ViewBag.CtmId" asp-route-AddId="@Model[j].AddId">
                            <button type="button">Visualizar</button>
                        </a>
                        <button class="remove">Remover</button>
                    </div>
                </div>
            }

        </div>
    }
</div>