@using E_CommerceLivraria.Enums
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/customer/layout.css" asp-append-version="true">
    <link rel="stylesheet" href="@ViewData["CSSFile"]" asp-append-version="true">

    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <div id="headerContent" class="header1">
            <div>
                <a asp-controller="Home" asp-action="homePage"><h1>NextPage</h1></a>
            </div>
            <div>
                <form asp-controller="Home" asp-action="searchbar" method="get" class="searchbar">
                    <input type="search" name="title" placeholder="Pesquisar livro por título">
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 48 48">
                            <path d="M 20.5 6 C 12.515556 6 6 12.515562 6 20.5 C 6 28.484438 12.515556 35 20.5 35 C 23.773158 35 26.788919 33.893018 29.220703 32.050781 L 38.585938 41.414062 A 2.0002 2.0002 0 1 0 41.414062 38.585938 L 32.050781 29.220703 C 33.893017 26.788918 35 23.773156 35 20.5 C 35 12.515562 28.484444 6 20.5 6 z M 20.5 10 C 26.322685 10 31 14.677319 31 20.5 C 31 23.295711 29.914065 25.820601 28.148438 27.697266 A 2.0002 2.0002 0 0 0 27.701172 28.144531 C 25.824103 29.912403 23.29771 31 20.5 31 C 14.677315 31 10 26.322681 10 20.5 C 10 14.677319 14.677315 10 20.5 10 z"></path>
                            </svg>
                    </button>
                </form>
            </div>
            <div class="cart">
                <a asp-controller="Cart" asp-action="CartPage">
                    <button>
                        <img src="~/resources/images/icons/icons8-carrinho-24.png">
                    </button>
                </a>
            </div>
            <div class="chatbotBtn">
                <button onclick="invertPopUpDisplay('chatbot')">
                    <img src="~/resources/images/icons/chatbot1.svg">
                </button>
            </div>
            <div class="profileBtn">
                <button onclick="invertPopUpDisplay('profile')">
                    <img src="~/resources/images/icons/user1.svg" alt="">
                </button>
            </div>
        </div>
        <div id="profile" class="backgroundPopUp">
            <div class="profilePanel">
                <div class="profileTitle">
                    <button class="close" onclick="invertPopUpDisplay('profile')">X</button>
                    <h1>Meu Perfil</h1>
                </div>
                <div class="profileSection">
                    <a asp-controller="ProfileInfo" asp-action="ProfileInfo">
                        <h2>Informações</h2>
                    </a>
                </div>
                <div class="profileSection">
                    <h2>Endereços</h2>
                </div>
                <div id="addresses">
                    <div class="subsection">
                        <a asp-controller="ProfileAddress" asp-action="ResidentialAddress">
                            <h3>Residencial</h3>
                        </a>
                    </div>
                    <div class="subsection">
                        <a asp-controller="ProfileAddress" asp-action="AddressList" asp-route-Type="@((int)EAddressType.DELIVERY)">
                            <h3>Entrega</h3>
                        </a>
                    </div>
                    <div class="subsection">
                        <a asp-controller="ProfileAddress" asp-action="AddressList" asp-route-Type="@((int)EAddressType.BILLING)">
                            <h3>Cobrança</h3>
                        </a>
                    </div>
                </div>
                <div class="profileSection">
                    <a asp-controller="ProfileCreditCards" asp-action="CreditCardsList">
                        <h2>Cartões</h2>
                    </a>
                </div>
                <div class="profileSection">
                    <a asp-controller="ProfileExchangeCoupons" asp-action="CouponsList">
                        <h2>Cupons</h2>
                    </a>
                </div>
                <div class="profileSection">
                    <a asp-controller="ProfilePurchase" asp-action="PurchasesList">
                        <h2>Compras</h2>
                    </a>
                </div>
                <div class="profileSection">
                    <a asp-controller="ProfileExchange" asp-action="ExchangesList">
                        <h2>Trocas</h2>
                    </a>
                </div>
                <div class="logout profileSection">
                    <a asp-controller="Login" asp-action="LoginPage">
                        <h2>Sair</h2>
                    </a>
                </div>
            </div>
        </div>
        <div id="chatbot" class="backgroundPopUp">
            <div class="chatbotPanel">
                <div class="chatbotTitle">
                    <button class="close" onclick="invertPopUpDisplay('chatbot')">X</button>
                    <h1>Assistente Virtual</h1>
                </div>
                <div class="messages" id="messages">
                </div>
                <div class="userTextfield">
                    <textarea id="userMessage" rows="3"></textarea>
                    <div>
                        <button type="button" onclick="sendMessage()">
                            <img src="~/resources/images/icons/send1.svg" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js?v=1.0.@(DateTime.Now.Ticks)"></script>
    <script src="~/js/site.js?v=1.0.@(DateTime.Now.Ticks)" asp-append-version="true"></script>
    <script src="~/js/customer/layout.js?v=1.0.@(DateTime.Now.Ticks)"></script>
    <script src="~/js/customer/chatbot/chatbot.js?v=1.0.@(DateTime.Now.Ticks)"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
